.frase {
  position: absolute;
width: 950px;
height: 424px;
left: 30px;
top: 300px;

font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 35px;

color: #000000;
}

.titulo {
  position: absolute;
   width: 1150px;
   height: 200px;
   left: 600px;
   top: 82px;

font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 35px;
margin: 0px;
color: #070707;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.insta{
  position: absolute;
   width: 1150px;
   height: 200px;
   left: 975px;
   top: 110px;

font-family: 'Jost';
font-style: normal;
font-weight: 400;
font-size: 24px;margin: 0px;
line-height: 35px;

color: #070707;

text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

body{
  position: relative;
width: 1440px;
height: 1024px;

background: #15647D;
padding: 0px;

}

.laboratorio{
  position: absolute;
width: 327px;
height: 265px;
left: 1050px;
top: 216px;
margin-top: 50px;
}

.biblioteca{
  position: absolute;
width: 436px;
height: 268px;
left: 1250px;
top: 635px;
}

.edf{
  position: absolute;
width: 350px;
height: 250px;
left: 800px;
top: 641px;

}

footer{
  position: absolute;
  bottom: 0px;
  background-color: black;
  margin-left: -100px;
  color: #FFF;
  width: 170%;
  height: 150px;
  top: 1000px;
  text-align: center;
  line-height: 100px;
}
.rodape{
  margin-left: 100px;
}
